.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #dee2e6;
    text-align: center;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border: 1px solid #dee2e6;
        text-align: center;

}.table{

    margin-bottom: 0vw;
}